<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MDN Code Editor</title>
</head>

<body>
<!-- Required Ace Libraries -->
<script src="ace-editor/src-min/ace.js"></script>
<script src="ace-editor/src-min/mode-javascript.js"></script>

<!-- Custom Scripts -->
</body>

</html>