<html>
    <head>

    </head>
    <body>
        <form action="../chat" method="post">
        <h1> 닉네임을 입력하세요 </h1>
        <input type="text" name="name"  placeholder="닉네임 입력하세요.">
            <div id ="content"><br></div>
        <button type="submit" >버튼</button>
    </body>
</html>