<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <style>
            .everymsg {
                color:teal;
                background-color: antiquewhite;
            }
            .systemmsg {
                color:red;
                background-color: yellow;
            }
            .mymsg {
                color:blue;
                background-color: green;
            }
        </style>

        <script>
            var socket_id;
            const username="<%username%>";
            console.log('username: ${username} is here');

            var socket = io.connect();
            // on : 통신을 받는다 수신
            // emit :통신을 보낸다 송신 aaa라는 것을 보낸다
            //메세지 받을 때 
            // socket.on( "sendMsg", ( msg ) =>{
            //     io.emit( "newMsg", { socketid : socket.id, msg: msg} );
            //     socket.emit('myMsg', {msg: msg})
            //     alert( msg );
            // });
            socket.on("sendMsg", function(data){
                alert(data);
            });
            socket.on("skcreated", ( data ) => {
                socket_id = data.socketid; 
                alert(data);
                socket.emit("matchid", {id:data.id, username: username});
            });
            //새로운 메세지 전송. 소켓이 다르면 모두메세지
            socket.on( "newMsg", ( data ) => {
                if (socket_id != data["socketid"] ) {
                    $("#content").append("<p class='everymsg'>" + data["socketid"] +"</p><p class='everymsg'>" + data["msg"] +"</p>");
                } 
            });
            //시스템메세지
            socket.on( "systemMsg", ( data ) => {
                        //document.getElementById("content").append(data+"<br>");
                $("#content").append("<p class='systemmsg'>" + data+"</p>");
            });

            //클릭시 함수 발동, Chat내용
            function a(){
                socket.emit( "sendMsg", document.getElementById("chat").value );
                document.getElementById("chat").value="";
                $("#content").append("<p class='mymsg'>" + data["socketid"] +"</p><p class='mymsg'>" + $("#chat").val() +"</p>");
            }
        </script>
    </head>


    <body>
        <h1> Socket View 파일입니다. </h1>
        <input type="text" id="chat" placeholder="채팅 메세지 입력">
            <div id ="content"><br></div>
        <button type="button" onclick="a();">버튼</button>
    </body>
</html>

