<form action="upload" method="post" enctype="multipart/form-data">
    <input type="file" name="userfile" >
    <input type="submit" value="전송">
</form>
<form action="upload-multiple" method="post" enctype="multipart/form-data">
    <input type="file" name="userfile2" multiple="multiple">
    <input type="submit" value="전송">
</form>
